@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Roboto, 'san-serif';
    font-weight: 300;
}

ul{
    display: flex;
    gap: 24px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


/*All of this is header*/
.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-title{
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

.main-header-container{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-info-container{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-box-1{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.header-info-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-info-content{
    font-size: 18px;
    color: #E5E7EB;
}

.header-info-button{
    cursor: pointer;
    color: white;
    width: 50%;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px 12px 24px;
}

.info-img{
    width: inherit;
    height: 70%;
}

/*Content start here*/
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*All of the below is container 1 in content*/
.content-container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.content-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 16px;
    margin: 32px 0px 32px 0px;
}

.info-box-2{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.content-info{
    max-width: 200px;
    text-align: center;
}

.content-info-image{
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/*All of the below is container 2 in content*/
.content-container-2{
    background-color: #E5E7EB;
}

.info-box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px 32px 0px;
    margin: 32px 0px 32px 0px;
}

.quote-text{
    width: 800px;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-name{
    width: 200px;
    margin-left: 35%;
    font-size: 24px;
    font-weight: 500;
}

/*All of the below is container 3 in content*/
.content-container-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box-4{
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 5px;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0px 32px 0px;
    margin: 64px 0px 64px 0px;
}

.call-to-action-text{
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.call-to-action-subtext{
    color: white;
    font-size: 16px;
}

.call-to-action-button{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px 12px 24px;
}

/*All of the below is for the footer*/
.footer{
    margin-top: auto;
    padding: 26px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}